<div class='footer'>
	<img class='avatar' src='/img/favicon.ico'/>
	<div class='personal'>
		<span class="motto">
			与其感慨路难行，不如马上出发		
		</span>
	</div>
	
	<ul class='nav'>
		<li class='links'>
			<a href='//github.com/ChrisWen960216' target='_blank'>
				<img src='/img/github.jpeg' class='git'/>
				GitHub
			</a>		
		</li>
	</ul>
</div>
</body>