<header>
    <img src="/img/favicon.ico" alt="">
    <ul>
        <li><a href="/about">关于我</a></li>
        <li><a href="/">主页</a></li>
        <li><a href="/list">博客列表</a></li>
    </ul>
</header>
<div id="root"></div>
<div id="shop-list"></div>

</body>