body {
    background: linear-gradient(45deg, gray, coral)
}

header {
    border-bottom: 2px double white;
}

header ul {
    float: left;
}

header li {
    font-size: 20px;
    float: left;
    margin: 0 10px;
}

header a {
    text-decoration: none;
    outline-style: none;
}

header a:hover {
    color: yellow;
    transition: .5s;
    text-decoration: none;
    outline-style: none;
}

header img {
    width: 100px;
    height: 100px;
}