@import './highlight/dark.scss';
body {
    min-width: 1000px;
    background-color: #eee;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}

header {
    border-bottom: 2px double #2da2dd;
    ul {
        li {
            font-size: 20px;
            line-height: 100px;
            float: left;
            margin: 0 10px;
        }
    }
    a {
        text-decoration: none;
        outline-style: none;
    }
    a:hover {
        color: #2da2dd;
        transition: .2s;
        text-decoration: none;
        outline-style: none;
    }
    img {
        width: 100px;
        height: 100px;
    }
}

#main-content {
    min-height: 800px;
    border-bottom: 1px solid green;
}

footer {
    margin-top: 20px;
    ul {
        text-align: center;
        li {
            cursor: pointer;
        }
    }
}